<!-- https://medium.com/@rameez.s.shaikh/upload-and-retrieve-images-using-spring-boot-angular-8-mysql-18c166f7bc98 -->


<form [formGroup]="form" #registerform (ngSubmit)="onSubmit(registerform)">
  <div *ngIf="message; else tempName">
    <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-12 success-post">
        <h3> 
         {{message}}
      </h3>
      </div>
    <div class="col-sm-2"></div>
    <br>
    <div class="col-sm-12">
    <h3>
    <a  routerLink="/" class="nav-link" class="btn btn-primary active bg-dark" role="button" >Add More Post</a>
  </h3>
</div>
  </div>
</div>
  <ng-template #tempName>

<div class="row">
  <div class="col-sm-7"></div>
  <div class="col-sm-5">
    <div class="form-group">
      <!-- <button class="btn btn-primary"></button> -->
      <button type="submit" [disabled]="loading" class="btn btn-primary" (click)="onSubmit('Save')">Save</button>
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    </div>
  </div>  
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
    <div class="form-group col-md-10">
       <input
        type="text" class="form-control tempName" formControlName="tempName" placeholder="Enter Template Name">
    </div>
  <div class="col-sm-3"></div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-sm-0"></div>
<div class="form-group col-md-4">
  <textarea class="form-control tempStructure" placeholder="Enter Template Structure" formControlName="tempStructure">
  </textarea>
  <div class="img-field">
    <!-- <div style="text-align:center"> -->
      <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
      <div class="img-render">
       
        <img [src]="url" *ngIf="url" width="100%" height="100%">
        <input type="file" (change)="selectFile($event)" id="name" class="FileUpload" name="name">
        <div class="upload-text" *ngIf="url==null || url == 'undefined'">
        <span class="material-icons">cloud_upload </span>
        <h6> Upload High Quality Of Image </h6>
        <h6>(JPG or PNG)</h6>
      </div> 
      </div>
     
    <!-- </div> -->
  </div>
</div>

</div>

</ng-template>
</form>