h3 {
    text-align: center;
}
login-bg{
    text-align: center;
}
.row{
    color: black;
}
.required {
    color: red;
  }

  .btn-primary{
    background-color:white;
    border-color: #7b1fa2;
    color: black;
    font-weight: bold;
  }
  .btn-primary:hover{
    background-color: #7b1fa2;
    border-color: #0d0d0e;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  .form-control{
    border-color:  #7b1fa2;
  }
  
  .btn-outline-primary{
    background-color:white;
    border-color: #7b1fa2;
    color: black;
    font-weight: bold;
  }
  .btn-outline-primary:hover{
    background-color: #7b1fa2;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  a{
    color: #7b1fa2;
  }