/* .item{
    width: 100%;
    height: 50%;
} */
.slide-img{
    width: 100%;
    height: 300px;
}
.foot-go-back{
    margin-top: 10px;
}

.cdk-overlay-pane{
    width: 100px;
}
/* .btn-u:hover{
    text-decoration: underline;
} */


  .btn-u:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .btn-u:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }
  .container-fluid{
      height: 100%;
  }