.success-post{
    background-color:rgb(195, 238, 195);
    color: green;
  }

.row{
  color: black;
}

.btn-outline-primary{
  background-color:white;
  border-color: #7b1fa2;
  color: black;
  font-weight: bold;
}
.btn-outline-primary:hover{
  background-color: #7b1fa2;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.required {
  color: red;
}
.bg {

  height: 100%; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url("/assets/bg-masthead.jpg");
}
