<p>
 Welcome..
</p>

<!-- <tr *ngFor="let post of retriviedPosts">
  <div class="col-sm-4"></div>
<div class="card" style="width: 18rem;">
  <img [src]="'data:image/jpeg;base64,' + post.picByte" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.description}}</p>
    <a href="#" class="btn btn-primary">Update</a>
  </div>
</div>
<div class="col-sm-2">  </div>
</tr> -->
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="col-sm-12 success-post d-flex justify-content-center">
      <h3> 
    All Posts
    </h3>
    </div>
  </div>  
  <div class="col-sm-4"></div>
</div>
<tr *ngFor="let post of retriviedPosts">
<div class="row">
  <div class="column">
    <div class="card">
      <img [src]="'data:image/jpeg;base64,' + post.picByte" class="card-img-top" alt="...">
     <div class="card-body"> 
      <h3 class="card-title">{{post.title}}</h3>
      <p class="card-text">{{post.description}}</p>
      <a href="#" class="btn btn-primary">Update</a>
      </div> 
      </div>
    </div>
  </div>
</tr>

