
h3 {
    text-align: center;
  }
.row{
    color: black;
    height: 100%; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url("/assets/bg-masthead.jpg");
}
label{
  color: black;
}

.reg_name {
  max-width:500px;
}
.col-sm-1{
  max-width: 5%;
}

.btn-primary{
  background-color:white;
  border-color: #7b1fa2;
  color: black;
  font-weight: bold;
}
.btn-primary:hover{
  background-color: #7b1fa2;
  color: rgb(255, 255, 255);
  border-color: #0d0d0e;
  font-weight: bold;
}
.form-control{
  border-color:  #7b1fa2;
}

.btn-outline-primary{
  background-color:white;
  border-color: #7b1fa2;
  color: black;
  font-weight: bold;
}
.btn-outline-primary:hover{
  background-color: #7b1fa2;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
a{
  color: #7b1fa2;
}
.required {
  color: red;
}

.card{
  margin-top: 10%;
}




/* -----------responsive form css----------- */
